.nav{
    background-color: rgb(100, 93, 93);
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    align-items: center;
    padding: auto;
    
}
.nav-title{
    margin-left: 40px;
    font-size: 50px;
    color: white;

}
.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style-type: none; /*Para que no aparezcan los circulitos*/
}
.nav a {
    color: white;
    font-size: 40px;
    text-decoration: none; /*Para quitarle el subrayado*/
}

.btn{
    width: 150px;
    height:50px ;
    background-color: rgba(0, 217, 255, 0.822);
    box-shadow: 5px 5px black;
    font-size: 20px;
    border: black solid;
}